﻿@model FullVehicle

<div class="row">
  <div class="col s12">
    <div class="carousel" id="vehicle-photos">
      @foreach (var photo in Model.Photos())
      {
        <a class="carousel-item"><img src="@("https://cdn.dlron.us/"+photo)"></a>
      }
    </div>
  </div>
</div>
<div class="row">
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Vehicle Properties</span>
        @Html.Partial("_VehicleProperties", Model)
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Dealer Comments</span>
        @Model.Comments
      </div>
    </div>
  </div>
  <div class="col s4">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Warranty</span>
        @Html.Raw(@Model.Warranty)
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script>
    $('#vehicle-photos').carousel();
  </script>
}
