﻿@model SearchData

<div class="row">
  <div class="col s12 m4 l3">
    @foreach (var refinemnt in Model.Refinements)
    {
      @Html.Partial("_Refinement", refinemnt)
    }
    <a id="search-button" class="waves-effect waves-light btn-large">Search</a>
    @Html.Partial("_Pagination", Model.Results.Pages)
  </div>
  <div class="col s12 m8 l9">
    <div class="row">
      @foreach (var vehicle in Model.Results.Vehicles)
      {
        <div class="col s12 m6">
          @Html.Partial("_Vehicle", vehicle)
        </div>
      }
    </div>
    @Html.Partial("_Pagination", Model.Results.Pages)
  </div>
</div>

@section Scripts {
  <script>
    const query = new URLSearchParams(location.search);

    $("select.search-refinement").each(function () {
      const element = $(this);
      const name = element.attr("name");
      if (query.has(name)) {
        element.val(query.get(name).split("|"));
      }
      element.material_select();
    });

    $("#search-button").click(function () {
      $("select.search-refinement").each(function () {
        const element = $(this);
        const name = element.attr("name");
        const values = element.val().join("|");
        if (values) {
          query.set(name, values);
        }
        else {
          query.delete(name);
        }
      });
      location.search = "?" + query.toString();
    });
  </script>
}