﻿<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Inventory</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/search">Search</a></li>
      </ul>
    </div>
  </nav>
</div>