﻿@model Pagination
<ul class="pagination">
  @for (var pg = Math.Max(1, Model.Page - 3); pg < Math.Min(Model.PageCount, Model.Page + 4); pg++)
  {
    <li class="@(pg == Model.Page ? "active" : "waves-effect")"><a href="@Url.WithTerm("page", pg)">@pg</a></li>
  }
</ul>