﻿@model SearchRefinement

<div class="input-field col s12">
  <select multiple name="@Model.Field" class="search-refinement">
    <option value="" disabled selected>Choose @Model.Field</option>
    @foreach (var option in Model.Values)
    {
      <option value="@option.Value">@option.Value</option>
    }
  </select>
  <label>Choose @Model.Field</label>
</div>