﻿@model Vehicle

<div class="card">
  <div class="card-image">
    <a href="/details/@Model.Vin">
      <img src="@("https://cdn.dlron.us/" + Model.Photo)">
    </a>
  </div>
  <div class="card-content">
    <a href="/details/@Model.Vin" class="card-title grey-text text-darken-4">@Model.Name</a>
    @if (Model.Price > 0)
    {
      <p class="red-text right">@Model.Price.ToString("C0")</p>
    }
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">@Model.Name<i class="material-icons right">close</i></span>
    <form class="row">
      <div class="input-field col s12">
        <input placeholder="Your Name" type="text" required class="validate" />
        <label>Name</label>
      </div>
      <div class="input-field col s12">
        <input placeholder="sample@sample.com" type="email" required class="validate" />
        <label>Email</label>
      </div>
      <div class="input-field col s12">
        <input placeholder="123-456-7890" type="tel" required class="validate" />
        <label>Phone</label>
      </div>
      <a class="waves-effect waves-light btn">Get Details</a>
    </form>
  </div>
  <div class="card-action">
    <a class="activator" href="javascript:void(0)">Get Details</a>
  </div>
</div>