﻿@model Vehicle

<ul class="collection">
  <li class="collection-item"><b>Body Style:</b> @Model.Bodystyle</li>
  <li class="collection-item"><b>Vin:</b> @Model.Vin</li>
  <li class="collection-item"><b>Stock Number:</b> @Model.StockNum</li>
  <li class="collection-item"><b>Color:</b> @Model.ExteriorColor</li>
  <li class="collection-item"><b>MPG City:</b> @Model.MpgCity</li>
  <li class="collection-item"><b>MPG Highway:</b> @Model.MpgHwy</li>
  <li class="collection-item"><b>Mileage:</b> @Model.Mileage</li>
</ul>